<%= render "layouts/header"%>
<div class="container" style="height: 85vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1>Create your List!</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, class: "form-control"%>
    <%= f.input :photo, as: :file %>
    <div class="d-flex mt-4 mb-4 text-center">
      <%= link_to "Go back", lists_path, class: "btn hover-btn" %>
      <%= f.submit class: "btn hover-btn"%>
    </div>
  <% end %>
</div>
