<%= render "layouts/header"%>
<div class="container">
  <h1 style="margin-top: 80px;"><%= @list.name %> movies</h1>
  <div class="mt-4 mb-4 text-center">
    <%= link_to "Go back", lists_path, class: "hover-btn" %>
    <%= link_to "Bookmark", new_list_bookmark_path(@list), class: "hover-btn" %>
  </div>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="popular-movie-slider">
      <%= image_tag bookmark.movie.poster_url, alt: "poster", class: "poster" %>
      <div class="popular-movie-slider-content">
        <div class="d-flex justify-content-between">
          <p class="release">2017</p>
          <%= link_to "ðŸ—‘ï¸", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "ã»ã‚“ã¾ã«æ¶ˆã—ã¦ãˆãˆã‚“ã‹ï¼Ÿ" } %>
        </div>
        <h2 class="movie-name"><%= bookmark.movie.title %></h2>
        <ul class="category">
          <p>Science fiction</p>
          <li>drama</li>
          <li>action</li>
        </ul>
        <p class="desc"><%= bookmark.movie.overview %></p>
        <div class="movie-info">
          <i class="fa fa-clock-o"> &nbsp;&nbsp;&nbsp;<span>164 min.</span></i>
          <i class="fa fa-volume-up"> &nbsp;&nbsp;&nbsp;<span>Subtitles</span></i>
          <i class="fa fa-circle"> &nbsp;&nbsp;&nbsp;<span>Imdb: <b><%= bookmark.movie.rating %>/10</b></span></i>
        </div>
        <div class="movie-btns">
          <button><i class="fa fa-play"></i> &nbsp; Watch trailer</button>
          <button class="read-more"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i>&nbsp; Read comment</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
